body{
	background-color: #f5f5f5;
}
.container{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	gap:10px;
	/* padding:5px; */
	
	
}
.header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:5px;
	
}
img{
	width:100px;
}
.latest-news-section{
	padding:10px;
	background-color:white;
	
}

.main{
	background-color:white;
	
}
	

.pictorial-news-section{
	background-color:white;
	padding:5px;
	width:200px;
	border-radius:10px;
	text-align:center;
}


